.RegistrationPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 350px;
    height: 350px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.warning{
    height: 30px;
    width: 300px;
    background: rgba(255, 127, 80, 0.69);
    /*margin: 10px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 10px;
}